.App {
  text-align: center;
}
li{
  list-style: none;
}
button{
  color: #7a3d7a;
  border-top: none;
  border-right: none;
  cursor: pointer;
  margin-bottom: 3px;
}
button:hover{
  color: #AF58AF;
  border-color: #AF58AF;
}
